{
  "env": {
    "test": {
      "plugins": [
        "@babel/transform-async-to-generator",
        "istanbul"
      ]
    }
  },
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "node": "current"
      }
    }]
  ]
}
