sut:
  image: seegno/node:4-test
  volumes:
    - .:/app
  environment:
    - CI
  links:
    - bitcoind
    - bitcoind-ssl
    - bitcoind-username-only

bitcoind:
  image: seegno/bitcoind:0.13-alpine
  command:
    -printtoconsole
    -regtest=1
    -rest
    -rpcallowip=10.211.0.0/16
    -rpcallowip=172.17.0.0/16
    -rpcallowip=192.168.0.0/16
    -rpcpassword=bar
    -rpcport=18333
    -rpcuser=foo
    -server
  ports:
    - 18333:18333

bitcoind-ssl:
  image: seegno/bitcoind:0.11-alpine
  command:
    -printtoconsole
    -regtest=1
    -rest
    -rpcallowip=10.211.0.0/16
    -rpcallowip=172.17.0.0/16
    -rpcallowip=192.168.0.0/16
    -rpcpassword=bar
    -rpcport=18334
    -rpcssl
    -rpcsslcertificatechainfile=/etc/ssl/bitcoind/cert.pem
    -rpcsslprivatekeyfile=/etc/ssl/bitcoind/key.pem
    -rpcuser=foo
    -server
  volumes:
    - ./test/config/ssl:/etc/ssl/bitcoind
  ports:
    - 18334:18334

bitcoind-username-only:
  image: seegno/bitcoind:0.11-alpine
  command:
    -printtoconsole
    -regtest=1
    -rest
    -rpcallowip=10.211.0.0/16
    -rpcallowip=172.17.0.0/16
    -rpcallowip=192.168.0.0/16
    -rpcport=18335
    -rpcuser=foo
    -server
  ports:
    - 18335:18335
